* {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 960px;
}

span.blue {
  color: #0075B8;
}

header {
  padding-bottom: 20px;
  position: fixed;
  z-index: 999999;
  width: 100%;
  background: #fff;
}

.header-logo-part {
  height: 96px;
}

.header-logo-part img {
  margin-top: 20px;
  height: 53px;
}

.btn-nav {
  float: left;
  display: block;
  width: 18%;
  margin-left: 1%;
  margin-right: 1%;
  height: 40px;
  z-index: 549;
  line-height: 40px;
  font-size: 15px;
  border: 1px solid #0075B8;
  background-color: #ffffff;
  color: #0075B8;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.transparent {
  background: transparent!important;
}

.btn-nav:hover {
  text-decoration: none;
  background-color: #0075B8;
  color: #ffffff;
}

.slider-part {
  padding-top: 156px;
  max-height: 681px;
}

.slider-part .item {
  height: 525px;
  overflow: hidden;
}

.slider-part .item img {
  position: absolute;
  bottom: 0;
}

.slider-part h1 {
  font-size: 54px;
  line-height: 70px;
  text-align: center;
  margin-bottom: 100px;
  padding: 20px;
  background: rgba(0,0,0,.4);
}

.content-part {
  background-color: #161414;
  padding-top: 20px;
  padding-bottom: 40px;
}

.content-part h2 {
  font-size: 36px;
  color: #fff;
  line-height: 50px;
  text-align: center;
}

.divider {
  width: 530px;
  height: 10px;
  border-bottom: 2px solid #0286ca;
  margin: auto;
  margin-top: 20px;
}

.content-part h3 {
  font-size: 26px;
  color: #fff;
  text-align: center;
}

.content-part h4 img {
  margin-right: 10px;
  margin-top: -4px;
}

.content-part .offre-title {
  text-align: center;
}


.content-part .offre-title h3 {
  font-size: 24px;
  margin-top: 90px;
}

.content-part .offre-title img {
  margin-top: 20px;
}

.content-part .offre-content {
  color: #c0c0c0;
  padding-top: 40px;
  padding-bottom: 20px;
}

.offre-content h4 {
  color: #0286ca;
}

.vocation-client {
  height: 500px;
  background-image: url(../images/bg1.jpg);
  background-position: center top;
  background-attachment: fixed;
  text-align: center;
}

.vocation-client .img-container {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  overflow: hidden;
  margin: auto;
  margin-top: 40px;
  border: 3px solid #fff;
}

.vocation-client .img-container img {
  width: 150px;
}

.vocation-client h4 {
  color: #333;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}

.vocation-client h2 {
  color: #333;
}


.vocation-client .white-divider {
  width: 320px;
  height: 10px;
  border-bottom: 2px solid #333;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.vocation-client p {
  color: #333;
}

.outils {
  padding-bottom: 70px;
}

.outils .subtitle {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  color: #c0c0c0;
}

.tool {
  margin-top: 25px;
}

.tool h4 {
  color: rgb(2, 134, 202);
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 10px;
  height: 48px;
}

.tool p {
  color: #c0c0c0;
  text-align: justify;
  margin-bottom: 30px;
  height: 140px;
}

.tool img {
  width: 150px;
}

.references {
  padding-top: 20px;
  padding-bottom: 30px;
}

.references img {
  height: 100px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.references img.img-big {
  height: 120px;
}

.references a:hover {
  text-decoration: none;
}

.download-button {
  font-size: 18px;
  padding: 15px;
  font-weight: 300;
  border: 1px solid #0075B8;
  background-color: #ffffff;
  color: #0075B8;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-weight: 400;
}

.download-button-blue {
  border: 1px solid #0075B8;
  background-color: #0075B8;
  color: #fff;
}

.download-button-blue:hover {
  background-color: #fff;
  color: #0075B8;
}

.download-button-sm {
  font-size: 14px;
  padding: 10px;
  font-weight: 300;
}

.proposition-sm {
  margin-top: 50px;
}

.propositions {
  margin-top: 80px;
}

.proposition {
  padding-top: 50px;
  padding-bottom: 70px;
  background-image: url(../images/dl.jpg);
  background-position: center top;
  background-attachment: fixed;
}

.proposition h2 {
  color: #fff;
  font-weight: 400;
}

.download-button:hover, .download-button-white {
  text-decoration: none;
  font-weight: 400;
}

.download-button-white {
  font-size: 14px;
}

.download-button-white img {
  width: 40px;
}

footer {
  padding: 30px;
  text-align: center;
  background-color: #272727;
  color: #fff;
}

footer img {
  width: 150px;
}

.footer-image-link {
  display: block;
  width: 340px;
  margin: auto;
  padding: 20px;
  background: #fff;
}
