//@font-face {font-family: 'museo';src: url('fonts/2C16E6_1_0.eot');src: url('fonts/2C16E6_1_0.eot?#iefix') format('embedded-opentype'),url('fonts/2C16E6_1_0.woff') format('woff'),url('fonts/2C16E6_1_0.ttf') format('truetype'),url('fonts/2C16E6_1_0.svg#wf') format('svg');font-style:normal; font-weight:300;}

