$typo-titre:arial, sans-serif;
$typo-texte:arial, sans-serif;
$noir:#0F0F0F;
$couleur6:#f6d2dd;
$couleur5:#ce0e4a;
$couleur4:#d0eaf2;
$couleur3:#8fc802;
$couleur2:#bb2b50;
$couleur1:#0491bb;
$gris:#818181;
$grisclair:#f1f1f1;
//$grisclair:#bdbdb5;
$blanc:#FFFFFF; 
$width:100%;
$marge:10px;
$maxWidth:1020px;
//$maxWidthContent:800px;